/* Reset */
* {
    margin: 0;
    padding: 0;
}

body {
    color: #9b9b9b;
    font-family: Helvetica, sans-serif;
    font-size: 0.9em;
    line-height: 1.8;
}

/* Layout */
.info-list {
    background-color: #f2f3f5;
    margin: 30px auto;
    padding: 5px 25px;
    max-width: 650px;
}

.clearfix {
    border-bottom: 1px dashed #f44336;
    padding-bottom: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}


.clearfix:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

h2 {
    font-size: 4.5em;
    font-weight: 100;
    font-family: system-ui;
    width: 94px;
    height: 96px;
    background: #d997de;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    padding-top: 4px;
    padding-right: 6px;
    line-height: 1.3;
}

.detail {
    align-items: center;
}

h3 {
    color: #1f1f1f;
    margin-bottom: 6px;
    font-size: 1.125em;
}

@media only screen and (max-width: 500px) {
    body {
        line-height: 1.6;
    }

    .clearfix {
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

    h2 {
        height: 80px;
        width: 78px;
        line-height: 1.1;
    }

    h3 {
        margin-bottom: 2px;
    }
}